:root {
    /* Primitive Colors */
    --primitive-base-black: #1A1B1D;
    --primitive-base-white: #FFFFFF;
    --primitive-blue-5: #F0F7FE;
    --primitive-blue-10: #DDEDFC;
    --primitive-blue-20: #C3E0FA;
    --primitive-blue-30: #99CEF7;
    --primitive-blue-40: #69B2F1;
    --primitive-blue-50: #4F99EC;
    --primitive-blue-60: #3177DF;
    --primitive-blue-70: #2862CD;
    --primitive-blue-80: #2751A6;
    --primitive-blue-90: #244684;
    --primitive-blue-95: #1B2C50;
    --primitive-gray-5: #F6F7F8;
    --primitive-gray-10: #EBECEE;
    --primitive-gray-20: #DCDFE1;
    --primitive-gray-30: #C3C9CD;
    --primitive-gray-40: #A7AFB5;
    --primitive-gray-50: #9098A1;
    --primitive-gray-60: #7F8791;
    --primitive-gray-70: #727883;
    --primitive-gray-80: #60656D;
    --primitive-gray-90: #46494F;
    --primitive-gray-95: #282A2D;
    --primitive-green-5: #EAFFF5;
    --primitive-green-10: #CDFEE5;
    --primitive-green-20: #A0FAD1;
    --primitive-green-30: #63F2B8;
    --primitive-green-40: #25E29C;
    --primitive-green-50: #00BC7D;
    --primitive-green-60: #00A46D;
    --primitive-green-70: #00835C;
    --primitive-green-80: #00674A;
    --primitive-green-90: #00553E;
    --primitive-green-95: #003024;
    --primitive-orange-5: #FFF8EC;
    --primitive-orange-10: #FFF0D3;
    --primitive-orange-20: #FFDDA5;
    --primitive-orange-30: #FFC46D;
    --primitive-orange-40: #FF9F32;
    --primitive-orange-50: #FF820A;
    --primitive-orange-60: #FF6900;
    --primitive-orange-70: #CC4B02;
    --primitive-orange-80: #A13A0B;
    --primitive-orange-90: #82320C;
    --primitive-orange-95: #461704;
    --primitive-purple-5: #F5F1FF;
    --primitive-purple-10: #EDE5FF;
    --primitive-purple-20: #DCCFFF;
    --primitive-purple-30: #C3A9FF;
    --primitive-purple-40: #A878FF;
    --primitive-purple-50: #8F42FF;
    --primitive-purple-60: #841CFF;
    --primitive-purple-70: #6F08E7;
    --primitive-purple-80: #6308CF;
    --primitive-purple-90: #5409A9;
    --primitive-purple-95: #320273;
    --primitive-red-5: #FFF3F1;
    --primitive-red-10: #FFE5E1;
    --primitive-red-20: #FFCFC7;
    --primitive-red-30: #FFAFA1;
    --primitive-red-40: #FF806A;
    --primitive-red-50: #F74728;
    --primitive-red-60: #E53B1D;
    --primitive-red-70: #C12E14;
    --primitive-red-80: #9F2A15;
    --primitive-red-90: #842818;
    --primitive-red-95: #481107;
    --primitive-yellow-5: #FFFDE7;
    --primitive-yellow-10: #FFFAC1;
    --primitive-yellow-20: #FFF186;
    --primitive-yellow-30: #FFE041;
    --primitive-yellow-40: #FFCC0D;
    --primitive-yellow-50: #EFB000;
    --primitive-yellow-60: #D18800;
    --primitive-yellow-70: #A66002;
    --primitive-yellow-80: #894A0A;
    --primitive-yellow-90: #743D0F;
    --primitive-yellow-95: #441F04;
  }